<header id="page-header">
  <div id="masthead">
    <h1><%= link_to "Alec's Web App", root_path %></h1>

    <nav class="signin">
        <%= link_to 'Sign Up', signup_path, class: 'button' %>
        <%= link_to "Sign In", signin_path, class: 'button' %>
    </nav>
  </div>
</header>
